.form-field {
  width: 200px;
  display: block;
}

form {
  padding: 16px;
}

/* for button */

button {
  margin: 10px 10px 10px 0;
  width: 100px;
}

button:hover {
  opacity: 0.3;
}

.buttons {
  display: block;
}

/* for warning message */
.warning {
  color: red;
}
